.splash {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgb(0,0,0,0.1)), url(/static/images/cassette.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    font-family: "Permanent Marker", serif;
  }

  &__subheader {
    font-family: "Quicksand", sans-serif;
  }
}