.splash {
  margin-top: -17rem;

  &__header {
    font-family: "Permanent Marker", serif;
    font-size: 6rem;
  }

  &__subheader {
    font-family: "Quicksand", sans-serif;
    margin-bottom: -1.25rem;
  }
}