{{define "button"}}
    {{if $args := . | require "Text" "string" | require "Icon" "string" | require "Class" "string" | require "Href" "string" | args}}
        <a class="button {{$args.Class}}" href="{{$args.Href}}">
            <span class="icon">
                <i class="{{$args.Icon}}"></i>
            </span>
            <span class="button__text is-family-monospace">
                {{$args.Text}}
            </span>
        </a>
    {{end}}
{{end}}