{{define "footerHeader"}}
    <h1 class="footer__header has-text-left">
        <a class="title has-text-weight-bold has-text-primary is-family-code is-hidden-mobile" href="http://127.0.0.1:3000/">
            {{.}}
        </a>
    </h1>
    <h1 class="footer__header has-text-centered">
        <a class="title has-text-weight-bold has-text-primary is-family-code is-hidden-tablet" href="http://127.0.0.1:3000/">
            {{.}}
        </a>
    </h1>
{{end}}