{{define "footerHeader"}}
    <h2 class="footer__header">
        <a class="title has-text-weight-bold has-text-primary is-family-code" href="http://127.0.0.1:3000/">
            {{.}}
        </a>
    </h2>
{{end}}