{{define "footerCopy"}}
    <p class="footer__copy is-size-6 has-text-left has-text-primary is-hidden-mobile">
        {{.}}
    </p>
    <p class="is-size-6 has-text-centered has-text-primary is-hidden-tablet">
        {{.}}
    </p>
{{end}}