{{define "heroSubtitle"}}
    <p class="subtitle is-spaced has-text-grey is-family-secondary is-hidden-mobile">
        {{.}}
    </p>
    <p class="subtitle has-text-grey is-family-secondary is-marginless is-paddingless has-text-centered is-hidden-tablet">
        {{.}}
    </p>
{{end}}