{{define "heroTitle"}}
    <h2 class="hero__title title is-size-2 is-family-secondary is-hidden-mobile">
        {{.}}
    </h2>
    <h2 class="hero__title title is-size-2 has-text-centered is-marginless is-family-secondary is-hidden-tablet">
        {{.}}
    </h2>
{{end}}