{{define "splashButtons"}}
    {{template "button" . | arg "Text" "Explore" | arg "Icon" "fab fa-github fa-lg" | arg "Class" "is-medium is-dark is-outlined" | arg "Href" "https://github.com/Henry-Sarabia/discovernow"}}
    {{template "button" . | arg "Text" "Connect" | arg "Icon" "fab fa-spotify fa-lg" | arg "Class" "is-medium is-primary" | arg "Href" .URL}}
{{end}}