{{define "splashButtons"}}
    {{template "button" . | arg "Text" "Connect" | arg "Icon" "fab fa-spotify fa-lg" | arg "Class" "is-medium is-primary" | arg "Href" .URL}}
    <a class="button is-medium is-dark is-outlined" href="#features" aria-label="Learn more about Discover Now and its features">
        Features
    </a>
{{end}}