{{define "spotifyButton"}}
    <a class="button is-medium is-primary" href="{{.URL}}">
        <span class="icon">
            <i class="fab fa-spotify fa-lg"></i>
        </span>
        <span class="button__text is-family-monospace">
            Connect
        </span>
    </a>
{{end}}