{{define "page"}}
    {{template "landing" .}}
    <section class="content">
        {{template "features"}}
        {{template "steps"}}
        {{template "cta" .}}
        <div class="hero is-small is-light">
            <div class="hero-body"></div>
        </div>
    </section>
    {{template "footer"}}
{{end}}