{{define "page"}}
    {{template "landing" .}}
    <main class="content">
        {{template "features"}}
        {{template "steps"}}
        {{template "cta" .}}
        <div class="hero is-small is-light">
            <div class="hero-body"></div>
        </div>
    </main>
    {{template "footer"}}
{{end}}