{{define "page"}}
    {{template "splash" .}}
    <main class="background">
        {{template "features"}}
        {{template "procedure"}}
        {{template "cta" .}}
        <div class="hero is-small is-light">
            <div class="hero-body"></div>
        </div>
    </main>
    {{template "footer"}}
{{end}}