// Bulma class
.card {
  border-radius: 14px;
  margin-top: 2rem;
  padding: 1rem .5rem 2rem;
  border-left: 4px solid hsl(160, 23%, 82%);

  &__copy {
    line-height: 1.7em;
  }

  // Bulma class
  &-content {
    padding: 1.5rem;
  }

  // Bulma class
  &-image {
    padding-top: 1rem;
  }
}