.content {
  background-image: url(/static/images/green.svg), linear-gradient(to right, hsl(0, 0%, 96%), hsl(0, 0%, 96%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}