.footer {


  .footer__header {
    padding-bottom: 1.5rem;
  }

  .footer__title {
    padding: 0.25rem 0;
  }

  .footer__copy {
    padding-right: 2rem;
  }

  .footer__link {
    padding: 0.25rem 0;
    letter-spacing: 0.5px;
  }
}