.footer {
  &__header {
    padding-bottom: 1.5rem;
  }

  &__title {
    padding: 0.25rem 0;
  }

  &__copy {
    padding-right: 2rem;
  }

  &__link {
    padding: 0.25rem 0;
    letter-spacing: 0.5px;
  }
}