.fa-spinner {
  margin-top: -5rem;
}
  
.discover-header-desktop {
  font-size: 4em;
  margin-top: -5rem;
}

.discover-header-mobile {
  padding-bottom: 0.5rem;
}

.discover-subheader-desktop {
  padding-bottom: 4rem;
}

.discover-subheader-mobile {
  padding-bottom: 3rem;
}

.discover-copy-mobile {
  padding-bottom: 0.5rem

}

.preview-button-desktop {
  margin-top: -4rem;
}

.tip-desktop {
  padding-bottom: 4rem;
}

.tip-mobile {
  padding: 1rem 2rem 2rem;
}