.error-background {
    background-position: bottom;
}
  
.error-header-desktop {
  margin-top: -20rem;
  font-size: 6rem;
  padding-bottom: 1rem;
}

.error-header-mobile {
  font-size: 6rem;
  padding-bottom: 1rem
}