.footer-content-mobile {
  padding-left: 2rem;
}
  
.footer-stack {
  padding-bottom: 3rem;
}

.footer-header {
  padding-bottom: 1.5rem;
}

.footer-title {
  padding: 0.25em 0em;
}

.footer-copy {
  padding-right: 3.5rem;
}

.footer-link {
  padding: 0.25rem 0rem;
  letter-spacing: 0.5px;
}

.fa-heart {
  color: #ffc0cb;
}