$icon-text-font: "Roboto";

.header-desktop {
    font-size: 6rem;
    font-weight: $weight-bold;
    padding-bottom: 0.5rem;
  }
  
  .header-mobile {
    font-size: 4.5rem;
    font-weight: $weight-bold;
    padding-bottom: 1rem;
  }
  
  .subheader-desktop {
    margin-bottom: -1.25rem;
    margin-top: -17rem;
  }
  
  .subheader-mobile {
    margin-bottom: 0.75rem;
  }
  
  .hero-title-mobile {
    padding: 0rem 0rem 1.5rem 0rem;
    margin-top: -0.75rem;
  }
  
  .hero-subtitle-desktop {
    padding-bottom: 1.5rem
  }
  
  .gradient {
    background: linear-gradient(45deg, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0.738) 19%, hsla(0, 0%, 100%, 0.541) 34%, hsla(0, 0%, 100%, 0.382) 47%, hsla(0, 0%, 100%, 0.278) 56.5%, hsla(0, 0%, 100%, 0.194) 65%, hsla(0, 0%, 100%, 0.126) 73%, hsla(0, 0%, 100%, 0.075) 80.2%, hsla(0, 0%, 100%, 0.042) 86.1%, hsla(0, 0%, 100%, 0.021) 91%, hsla(0, 0%, 100%, 0.008) 95.2%, hsla(0, 0%, 100%, 0.002) 98.2%, hsla(0, 0%, 100%, 0) 100%);
  }
  
  .card {
    padding: 1rem 0.5rem 2rem 0.5rem;
    margin-top: 2rem;
    border-radius: 14px;
  }
  
  .card-image {
    padding-top: 1rem;
  }
  
  .buttons-desktop {
    margin-left: -0.5rem;
  }
  
  .buttons-mobile {
    padding: 1rem;
  }
  
  .button {
    margin: 0.5rem;
  }
  
  .scroll-mobile {
    padding-top: 1rem;
  }
  
  .icon-text {
    font-family: $icon-text-font;
    padding-left: 0.33em;
  }
  
  .card-copy {
    line-height: 1.7em;
  }
  
  .body-title-desktop {
    padding: 1rem 3rem;
  }
  
  .body-title-mobile {
    padding: 1rem 1rem 1.5rem 1rem;
  }
  
  .body-copy-desktop {
    line-height: 1.8em;
    padding: 0rem 3rem 1rem 3rem;
  }
  
  .body-copy-mobile {
    line-height: 1.8em;
    padding: 1rem;
  }
  
  .quote-body {
    line-height: 1.8em;
    padding: 0rem 3rem 1rem 3rem;
  }
  
  .divider {
    margin: 2.5rem 0rem 0rem;
    position: relative;
    width: 40%;
    left: 30%;
  }