.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 3.5s infinite;
    -webkit-animation: bounce 3.5s infinite;
    animation: bounce 3.5s infinite;
}
  
@keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
    30% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.pre-anim {
    opacity: 0;
}

.animated .fade-in {
    opacity: 0;
    animation: fade-in ease 0.8s forwards;
}

.animated .fade-right-1 {
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
}

.animated .fade-right-2 {
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
    animation-delay: 0.2s;
}

.animated .fade-right-3 {
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
    animation-delay: 0.4s;
}

.animated .fade-right-4 {
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
    animation-delay: 0.6s;
}

.animated .fade-right-5 {
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
    animation-delay: 0.8s;
}

.animated .fade-in-pop {
    opacity: 0;
    transform: scale(1);
    animation: fade-in-pop ease 1.5s forwards;
    animation-delay: 0.3s;
}

@keyframes fade-in-pop {
    90% {
        opacity: 1;
    }
    91% {
        opacity: 1;
        transform: scale(1.05);
    }
    92%, 100% {
        opacity: 1;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

